# Build artifacts
build/
cmake-build-debug/
cmake-build-release/

# MacOS files
.DS_Store

# Logs
*.log

# Generated plugin files
plugins/*.so
plugins/*.dll
plugins/*.dylib
pipelines/cap_then_store.json
